openapi: 3.0.3
info:
  title: Graphini API
  description: |
    HTTP API for Graphini, an AI-powered diagrams-as-code workspace.

    Most endpoints use the Graphini session cookie created by `/api/auth/login` or
    `/api/auth/register`. Public endpoints are marked in their descriptions.
  version: 2.0.0
  contact:
    name: Graphini
    url: https://github.com/omkarbhad/graphini
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://graphini.magnova.ai/api
    description: Production
  - url: http://localhost:5173/api
    description: Local development

tags:
  - name: Auth
  - name: Chat
  - name: Conversations
  - name: Workspaces
  - name: Diagram
  - name: Files
  - name: Settings
  - name: Credits
  - name: MCP
  - name: Admin

paths:
  /auth/login:
    get:
      tags: [Auth]
      summary: Start OAuth login
      description: Redirects to the configured auth provider. If already authenticated, redirects to `returnTo`.
      parameters:
        - $ref: '#/components/parameters/ReturnTo'
      responses:
        '302':
          description: Redirect to auth provider or app
    post:
      tags: [Auth]
      summary: Local login
      description: Creates a signed `graphini_session` cookie for local/dev email-password login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/register:
    post:
      tags: [Auth]
      summary: Local registration
      description: Creates a local/dev account and session cookie.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current session
      responses:
        '200':
          description: Current user and credit balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    get:
      tags: [Auth]
      summary: OAuth logout redirect
      responses:
        '302':
          description: Redirect to signout URL
    post:
      tags: [Auth]
      summary: Clear local session
      responses:
        '302':
          description: Session cookie cleared and redirected home

  /chat:
    post:
      tags: [Chat]
      summary: Stream AI chat response
      description: |
        Sends a message to the diagram assistant. The response is streamed by the Vercel AI SDK.
        PDF, text, and Markdown uploads should be pre-processed through `/api/upload`, which saves them as Markdown workspace files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Streaming AI response
          content:
            text/event-stream:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /conversations:
    get:
      tags: [Conversations]
      summary: List conversations
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Conversation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Conversations]
      summary: Create conversation
      security:
        - cookieAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
      responses:
        '201':
          description: Created conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation:
                    $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [Conversations]
      summary: Delete conversation
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /conversations/messages:
    get:
      tags: [Conversations]
      summary: List conversation messages
      security:
        - cookieAuth: []
      parameters:
        - name: conversation_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message list
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Conversations]
      summary: Sync conversation messages
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncMessagesRequest'
      responses:
        '201':
          description: Created messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /workspaces:
    get:
      tags: [Workspaces]
      summary: List diagram workspaces
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: starred
          in: query
          schema:
            type: boolean
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Workspace list with pagination metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Workspaces]
      summary: Create diagram workspace
      security:
        - cookieAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: Created workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /workspaces/{id}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      tags: [Workspaces]
      summary: Get workspace
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Workspace with document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Workspaces]
      summary: Update workspace metadata
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
      responses:
        '200':
          description: Updated workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Workspaces]
      summary: Delete workspace
      security:
        - cookieAuth: []
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workspaces/{id}/document:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    put:
      tags: [Workspaces]
      summary: Save workspace document
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveWorkspaceDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Workspaces]
      summary: Save workspace document from beacon
      description: Same behavior as PUT; used by `navigator.sendBeacon` on unload.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveWorkspaceDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /workspaces/{id}/duplicate:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    post:
      tags: [Workspaces]
      summary: Duplicate workspace
      security:
        - cookieAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
      responses:
        '201':
          description: Duplicated workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /diagram/generate:
    post:
      tags: [Diagram]
      summary: Generate diagram through Python backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagramGenerateRequest'
      responses:
        '200':
          description: Generated Mermaid diagram
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagramGenerateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/Timeout'

  /diagram/generate-stream:
    post:
      tags: [Diagram]
      summary: Stream diagram generation through Python backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagramGenerateRequest'
      responses:
        '200':
          description: Server-sent generation stream
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/Timeout'

  /diagram/health:
    get:
      tags: [Diagram]
      summary: Check Python backend health
      responses:
        '200':
          description: Backend available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagramHealthResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /diagram/analyze-error:
    post:
      tags: [Diagram]
      summary: Analyze a Mermaid/rendering error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Error analysis
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /upload:
    post:
      tags: [Files]
      summary: Upload into workspace files
      description: Accepts `multipart/form-data` with a `file` field. Supported PDF, text, and Markdown files are converted or normalized to Markdown and saved under `uploads/*.md` in the user's workspace.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created workspace Markdown file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'

  /audio:
    post:
      tags: [Files]
      summary: Transcribe or process audio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Audio processing result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /models:
    get:
      tags: [Settings]
      summary: List enabled AI models
      description: Public endpoint returning admin-enabled models.
      responses:
        '200':
          description: Enabled models
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /app-settings:
    get:
      tags: [Settings]
      summary: Read public app settings
      description: Public endpoint for whitelisted non-sensitive settings such as `prompt_enhancer.model`.
      parameters:
        - name: category
          in: query
          required: true
          schema:
            type: string
            example: prompt_enhancer
        - name: key
          in: query
          schema:
            type: string
            example: model
      responses:
        '200':
          description: Public setting values
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'

  /kv:
    get:
      tags: [Settings]
      summary: Read user key-value settings
      security:
        - cookieAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: key
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Settings payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      tags: [Settings]
      summary: Save user key-value settings
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Success'
    delete:
      tags: [Settings]
      summary: Delete a user key-value setting
      security:
        - cookieAuth: []
      parameters:
        - name: category
          in: query
          required: true
          schema:
            type: string
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /user/data:
    get:
      tags: [Settings]
      summary: Load per-file user data
      security:
        - cookieAuth: []
      parameters:
        - name: fileId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File auxiliary data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
    put:
      tags: [Settings]
      summary: Save per-file user data
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fileId, data]
              properties:
                fileId:
                  type: string
                data:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /user/preferences:
    get:
      tags: [Settings]
      summary: Get user preferences
      security:
        - cookieAuth: []
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: object
                    additionalProperties: true
    put:
      tags: [Settings]
      summary: Save user preferences
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Saved preferences
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /credits:
    get:
      tags: [Credits]
      summary: Get credit balance, transactions, and pricing
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Credit account data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /credits/purchase:
    post:
      tags: [Credits]
      summary: Purchase gems
      description: Development purchase endpoint. Payment provider integration is TODO in the app.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id:
                  type: string
                  enum: [starter, pro, unlimited]
      responses:
        '200':
          description: Purchase result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  gems_added:
                    type: integer
                  new_balance:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /collaborators:
    get:
      tags: [Workspaces]
      summary: List workspace collaborators
      security:
        - cookieAuth: []
      parameters:
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Collaborators
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      tags: [Workspaces]
      summary: Invite collaborator
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorRequest'
      responses:
        '200':
          description: Created collaborator
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    patch:
      tags: [Workspaces]
      summary: Update collaborator role
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorRequest'
      responses:
        '200':
          $ref: '#/components/responses/Success'
    delete:
      tags: [Workspaces]
      summary: Remove collaborator
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, user_id]
              properties:
                workspace_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'

  /mcp/tools:
    get:
      tags: [MCP]
      summary: List available MCP-style tools
      responses:
        '200':
          description: Tool catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
    post:
      tags: [MCP]
      summary: JSON-RPC tool list response
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: JSON-RPC response containing tools/list result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'

  /admin:
    get:
      tags: [Admin]
      summary: Admin read actions
      description: Admin-only endpoint controlled by the `action` query parameter.
      security:
        - cookieAuth: []
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Admin action result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Admin]
      summary: Admin write actions
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Admin action result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: graphini_session

  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    ReturnTo:
      name: returnTo
      in: query
      schema:
        type: string
        default: /
    WorkspaceId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        role:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true

    CreditBalance:
      type: object
      properties:
        balance:
          type: integer
        lifetime_earned:
          type: integer
        lifetime_spent:
          type: integer

    AuthSessionResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'

    MeResponse:
      type: object
      properties:
        user:
          allOf:
            - $ref: '#/components/schemas/User'
          nullable: true
        credits:
          allOf:
            - $ref: '#/components/schemas/CreditBalance'
          nullable: true

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        displayName:
          type: string

    ChatRequest:
      type: object
      required: [messages]
      properties:
        id:
          type: string
          description: Optional chat or generation id.
        conversationId:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        message:
          $ref: '#/components/schemas/ChatMessage'
        currentDiagram:
          type: string
        diagram:
          type: string
        mode:
          type: string
          enum: [create, edit, chat]
        model:
          type: string
        provider:
          type: string
        userId:
          type: string
        metadata:
          type: object
          additionalProperties: true

    ChatMessage:
      type: object
      required: [role]
      properties:
        id:
          type: string
        role:
          type: string
          enum: [system, user, assistant, tool]
        content:
          type: string
        parts:
          type: array
          items:
            type: object
            additionalProperties: true
        metadata:
          type: object
          additionalProperties: true

    Conversation:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        title:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    CreateConversationRequest:
      type: object
      properties:
        title:
          type: string
          default: New Chat
        metadata:
          type: object
          additionalProperties: true

    Message:
      allOf:
        - $ref: '#/components/schemas/ChatMessage'
        - type: object
          properties:
            conversation_id:
              type: string
            created_at:
              type: string
              format: date-time

    SyncMessagesRequest:
      type: object
      required: [conversation_id, messages]
      properties:
        conversation_id:
          type: string
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'

    Workspace:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        user_id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        document:
          type: object
          additionalProperties: true
        engine:
          type: string
          enum: [mermaid, json, yaml]
        is_starred:
          type: boolean
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateWorkspaceRequest:
      type: object
      properties:
        title:
          type: string
          default: Untitled Workspace
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 2000
        document:
          type: object
          additionalProperties: true
        engine:
          type: string
          enum: [mermaid, json, yaml]
          default: mermaid

    UpdateWorkspaceRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 2000
        is_starred:
          type: boolean
        tags:
          type: array
          items:
            type: string

    SaveWorkspaceDocumentRequest:
      type: object
      required: [document]
      properties:
        document:
          type: object
          additionalProperties: true
        element_count:
          type: integer
        diagram_type:
          type: string

    DiagramGenerateRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          maxLength: 100000
        diagramType:
          type: string
        complexity:
          type: string
          enum: [simple, medium, complex, large]
          default: medium
        options:
          type: object
          additionalProperties: true

    DiagramGenerateResponse:
      type: object
      properties:
        success:
          type: boolean
        mermaid_code:
          type: string
        diagram_type:
          type: string
        complexity:
          type: string
        generation_time:
          type: number
        metadata:
          type: object
          additionalProperties: true

    DiagramHealthResponse:
      type: object
      properties:
        available:
          type: boolean
        status:
          type: integer
        backend_url:
          type: string
        message:
          type: string
        error:
          type: string

    UploadResponse:
      type: object
      properties:
        url:
          type: string
          nullable: true
        mediaType:
          type: string
        filename:
          type: string
        type:
          type: string
        fileId:
          type: string
        size:
          type: integer
        pageCount:
          type: integer
        workspaceFileId:
          type: string
        workspacePath:
          type: string
        workspaceFile:
          type: object
          additionalProperties: true

    Model:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        category:
          type: string
        toolSupport:
          type: boolean
        description:
          type: string
        gemsPerMessage:
          type: integer
        isFree:
          type: boolean
        isEnabled:
          type: boolean
        maxTokens:
          type: integer

    CreditsResponse:
      type: object
      properties:
        balance:
          $ref: '#/components/schemas/CreditBalance'
        transactions:
          type: array
          items:
            type: object
            additionalProperties: true
        pricing:
          type: array
          items:
            type: object
            properties:
              model_id:
                type: string
              model_name:
                type: string
              provider:
                type: string
              credits_per_request:
                type: integer
              is_free:
                type: boolean

    CollaboratorRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        email:
          type: string
          format: email
        user_id:
          type: string
        role:
          type: string
          enum: [viewer, editor, admin]
          default: editor

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        id:
          oneOf:
            - type: string
            - type: integer
            - type: 'null'
        method:
          type: string
        params:
          type: object
          additionalProperties: true

    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        id:
          oneOf:
            - type: string
            - type: integer
            - type: 'null'
        result:
          type: object
          additionalProperties: true
        error:
          type: object
          additionalProperties: true

  responses:
    Success:
      description: Operation succeeded
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid session
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: Request payload is too large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Upstream or backend service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Timeout:
      description: Upstream request timed out
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
